{% extends "layout.html" %}

{% block title %} WELCOME TO MY WEBPAGE {% endblock %}

{% block head %}
<style media="screen">
  #image{
    float:left;
  }
  .postDiv{
    background:#d1d1d1;
    padding: 30px 30px;
  }
</style>
{% endblock %}
{% block body %}


{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    {{message}}
</div>
{% endfor %}

<div id="info">
<img id="image" src="{{ BookIMG }}">
<p>{{ BookDetails.title }}<br>{{  BookDetails.author }}<br> {{ BookDetails.year}} <br>{{ BookDetails.rateCount }}<br>{{  BookDetails.avgRate }}</p>
</div>

<div id="Reviews">
  {% for reviews in Reviews %}
  <div class="reviewList">
    <div class="row">
      <div class="offset-md-4 col-4">
          <h6>{{reviews.username}}</h6>
      </div>
      <div class="offset-md-4 col-4">
          <h6>{{reviews.rate}}</h6>
      </div>
    </div>
    <div class="offset-md-4">
      <p>{{reviews.review}}</p>
    </div>
  </div>

  {% endfor %}
</div>

<form action="{{ url_for('postreview', bookISBN=bookISBN, bookTitle=bookTitle) }}" method="post" id="test">
  <div class="postDiv container-fluid">
    <div class="rateSelect">
    <h5>Rate the book:</h5>
    <select class="" name="rate">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    </div>
    <textarea name="review" rows="8" cols="80"></textarea><br>
    <button form="test">SUBMIT</button>
  </div>
</form>
{% endblock %}
