<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta>
    <title>{% block title %} {% endblock %}</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <a class="nav-link" href="{{ url_for('index') }}">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="{{ url_for('searchpg') }}">Search</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="{{ url_for('loginpg') }}">Log-in</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="{{ url_for('registerpg') }}">Register</a>
         </li>
      </div>
    </nav>
    {% block body %}
    {% endblock %}
  </body>
</html>
