{% extends "layout.html" %}

{% block title %} WELCOME TO MY WEBPAGE {% endblock %}

{% block head %}
<style media="screen">
</style>
{% endblock %}
{% block body %}


{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    {{message}}
</div>
{% endfor %}

<form action="{{ url_for('login')}}" method="post" id="log-in">
  <input type="text" name="username" placeholder="Enter username">
  <input type="password" name="password" placeholder="Enter password">
  <button form="log-in">LOG-IN</button>
</form>
<form action="{{ url_for('register')}}" method="post" id="register">
  <input type="text" name="username" placeholder="Enter username">
  <input type="password" name="password" placeholder="Enter password">
  <button form="register"> REGISTER </button>
</form>
{% endblock %}
