{% extends "layout.html" %}

{% block title %} WELCOME TO MY WEBPAGE {% endblock %}

{% block head %}
<style media="screen">
</style>
{% endblock %}
{% block body %}


{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    {{ message }}
</div>
{% endfor %}

<form action="{{ url_for('search') }}" method="post" id="log-in">
  <input type="text" name="ISBN" placeholder="Enter ISBN">
  <input type="text" name="TITLE" placeholder="Enter title">
  <input type="text" name="AUTHOR" placeholder="Enter author">
  <button form="log-in">SEARCH</button>
</form>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-sm-3">
      <h3>ISBN</h3>
    </div>
    <div class="col-lg-3 col-sm-3">
      <h3>TITLE</h3>
    </div>
    <div class="col-lg-3 col-sm-3">
      <h3>AUTHOR</h3>
    </div>
  </div>
  {% for books in bookQ %}
  <div class="row justify-content-center">
    <div class="col-lg-3 col-sm-3">
      <h1><a href="{{ url_for('booksearch', bookISBN=books.isbn, bookTitle=books.title) }}">{{ books.isbn }}</a><h1></h1>
    </div>
    <div class="col-lg-3 col-sm-3">
      <h1>{{ books.title }}<h1></h1>
    </div>
    <div class="col-lg-3 col-sm-3">
      <h1>{{ books.author }}<h1></h1>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
</table>
